<div id="app">
    <h3>Debug</h3>
    <div>Attr sum: {{attr_sum}}</div>
    <div>Skill credits: {{used_skill_credits}} / {{total_skill_credits}}</div>

    <h3>Character</h3>
    <div>Name: {{ name }}</div>
    <div>Level: <input type="text" v-model="level" /></div>

    <h3>Attributes</h3>
    <ul>
      <li>
        Strength: 
        <input type="range" id="attributes.strength" min="30" value="30" max="100" step="1" v-model="attributes.strength">
        <span>{{ attributes.strength }}</span>
      </li>
      <li>
        Endurance:
        <input type="range" id="attributes.endurance" min="30" value="30" max="100" step="1" v-model="attributes.endurance" />
        <span>{{ attributes.endurance }}</span>
      </li>
      <li>
        Coordination:
        <input type="range" id="attributes.coordination" min="30" value="30" max="100" step="1" v-model="attributes.coordination" />
        <span>{{ attributes.coordination }}</span>
      </li>
      <li>
        Quickness:
        <input type="range" id="attributes.quickness" min="30" value="30" max="100" step="1" v-model="attributes.quickness" />
        <span>{{ attributes.quickness }}</span>
      </li>
      <li>
        Focus:
        <input type="range" id="attributes.focus" min="30" value="30" max="100" step="1" v-model="attributes.focus" />
        <span>{{ attributes.focus }}</span>
      </li>
      <li>
        Self:
        <input type="range" id="attributes.self" min="30" value="30" max="100" step="1" v-model="attributes.self" />
        <span>{{ attributes.self }}</span>
      </li>
      <li>
        Health:
        <span>{{ health }}</span>
      </li>
      <li>
        Stamina:
        <span>{{ stamina }}</span>
      </li>
      <li>Mana:
        <span>{{ mana }}</span>
      </li>
    </ul>

    <h3>Skills</h3>
    <h4>Specialized</h4>
    <ul>
      <li v-for="skill in specialized_skills">
        {{ skill.name }}: {{ skill.value }}
        <button v-on:click="training_increase" data-skill="{{skill.key}}">+</button>
        <button v-on:click="training_decrease" data-skill="{{skill.key}}">-</button>
      </li>
    </ul>

    <h4>Trained</h4>
    <ul>
      <li v-for="skill in trained_skills">
        {{ skill.name }}: {{ skill.value }}
        <button v-on:click="training_increase" data-skill="{{skill.key}}">+</button>
        <button v-on:click="training_decrease" data-skill="{{skill.key}}">-</button>
      </li>
    </ul>

    <h4>Untrained</h4>
    <ul>
      <li v-for="skill in untrained_skills">
        {{ skill.name }}: {{ skill.value }}
        <button v-on:click="training_increase" data-skill="{{skill.key}}">+</button>
        <button v-on:click="training_decrease" data-skill="{{skill.key}}">-</button>
      </li>
    </ul>
</div>

<script src="underscore.js"></script>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script src="app.js"></script>
