<style type="text/css">
  body {
    font: 12pt "Helvetica Neue";
  }

  td { border: 1px solid #ccc; }

  div.box {
    float: left;
  }

  #reset-skills {
    display: inline-block;
  }

  .skill_group {
    font-weight: bold;
  }

  #extra-skill-credits {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #extra-skill-credits li {
    margin-right: 20px;
    display: inline;
  }

  .enabled {
    background-color: rgba(0, 255, 0, 1.0);
  }

  .disabled {
    background-color: rgba(0, 255, 0, 0.1);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li span {
    display: inline-block;
  }

  .skill_name {
    width: 200px;
  }

  .skill_value {
    width: 75px;
  }

  .skill_cost {
    width: 25px;
  }

  .skill_button {
    width: 25px;
  }

</style>

<div id="app">
  <h3>Character</h3>
  <div>Name: {{ name }}</div>
  <div>Level: <input type="text" v-model="level" /></div>
  <div>Skill credits: {{ skill_credits_available }} / {{ skill_credits_total }}</div>
  <div>Max: <input type="checkbox" v-model="max" /></div>
  <div>
    Extra Skill Credits:
    <ul id="extra-skill-credits">
      <li><label for="skill_oswald">Oswald: </label><input id="skill_oswald" type="checkbox" v-model="extra_skill_credits.oswald" /></li>
      <li><label for="skill_railrea">Railrea: </label><input id="skill_railrea" type="checkbox" v-model="extra_skill_credits.railrea" /></li>
      <li><label for="skill_lum1">Luminance (1): </label><input id="skill_lum1" type="checkbox" v-model="extra_skill_credits.lum1" /></li>
      <li><label for="skill_lum2">Luminance (2): </label><input id="skill_lum2" type="checkbox" v-model="extra_skill_credits.lum2" /></li>
    </ul>
  </div>

  <div class="box">
    Attributes

    <table>
      <thead>
        <tr>
          <th>Attribute</th>
          <th></th>
          <th>Base</th>
          <th>Actual</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Strength</td>
          <td><input type="range" id="strength" min="10" max="100" step="1" v-model="attributes.strength.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.strength.base }}</td>
          <td>{{ strength }}</td>
        </tr>
        <tr>
          <td>Endurance</td>
          <td><input type="range" id="endurance" min="10" max="100" step="1" v-model="attributes.endurance.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.endurance.base }}</td>
          <td>{{ endurance }}</td>
        </tr>
        <tr>
          <td>Coordination</td>
          <td><input type="range" id="coordination" min="10" max="100" step="1" v-model="attributes.coordination.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.coordination.base }}</td>
          <td>{{ coordination }}</td>
        </tr>
        <tr>
          <td>Quickness</td>
          <td><input type="range" id="quickness" min="10" max="100" step="1" v-model="attributes.quickness.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.quickness.base }}</td>
          <td>{{ quickness }}</td>
        </tr>
        <tr>
          <td>Focus</td>
          <td><input type="range" id="focus" min="10" max="100" step="1" v-model="attributes.focus.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.focus.base }}</td>
          <td>{{ focus }}</td>
        </tr>
        <tr>
          <td>Self</td>
          <td><input type="range" id="self" min="10" max="100" step="1" v-model="attributes.self.base" v-on:change="attr_change($event)"></td>
          <td>{{ attributes.self.base }}</td>
          <td>{{ self }}</td>
        </tr>
        <tr>
          <td>Health</td>
          <td></td>
          <td></td>
          <td>{{ health }}</td>
        </tr>
        <tr>
          <td>Stamina</td>
          <td></td>
          <td></td>
          <td>{{ stamina }}</td>
        </tr>
        <tr>
          <td>Mana</td>
          <td></td>
          <td></td>
          <td>{{ mana }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    Skills <button id="reset-skills" v-on:click="reset_skills">Reset skills</button></br />

    <table>
      <tr><td colspan="6">Specialized</td></tr>
      <tr v-for="skill in specialized_skills" is="skill" :skill="skill"></tr>
      <tr><td colspan="6">Trained</td></tr>
      <tr v-for="skill in trained_skills" is="skill" :skill="skill"></tr>
      <tr><td colspan="6">Untrained</td></tr>
      <tr v-for="skill in untrained_skills" is="skill" :skill="skill"></tr>
      <tr><td colspan="6">Unusable</td></tr>
      <tr v-for="skill in unusable_skills" is="skill" :skill="skill"></tr>
    </table>
  </div>
</div>

<template id="skill_row_plan">
  <tr>
    <td class="skill_name">{{ skill.name }}</td>
    <td class="skill_value">{{ skill.value }}</td>
    <td class="skill_cost">{{ skill.cost_up }}</td>
    <td class="skill_button"><button v-on:click="inc" :skill="skill.key" :class="skill.increase">+</button></td>
    <td class="skill_button"><button v-on:click="dec" :skill="skill.key" :class="skill.decrease">-</button></td>
    <td class="skill_cost">{{ skill.cost_down }}</td>
  </tr>
</template>



<script src="underscore.js"></script>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script src="app.js"></script>
